
<!-- CRUD -->
<div class="sidebar-content hidden-sm-down">
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="DiscountCodes" asp-action="Index">Kody rabatowe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Addresses" asp-action="Index">Adresy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Klienci</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PageConfigurations" asp-action="Index">Konfiguracja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Zamówienia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ShippingMethods" asp-action="Index">Metody dostawy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PaymentMethods" asp-action="Index">Metody płatności</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Produkty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Kategorie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Attachments" asp-action="Index">Załączniki</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Experts" asp-action="Index">eksperci</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProductOrders" asp-action="Index">ProduktyZamówienia</a>
        </li>
    </ul>
</div>