@page
@model ForgotPasswordConfirmation
@{
    //ViewData["Title"] = "Forgot password confirmation";
    ViewData["Title"] = "Potwierdzenie utraty hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    @*Please check your email to reset your password.*@
    Sprawdź swoją skrzynkę mailową, aby zresetować hasło.
</p>

