@page
@model ResetPasswordConfirmationModel
@{
    //ViewData["Title"] = "Reset password confirmation";
    ViewData["Title"] = "Potwierdzenie resetowania hasła";

}

<h1>@ViewData["Title"]</h1>
@*<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>*@
<p>
    Twoje hasło zostało zresetowane. <a asp-page="./Login">Kliknij tutaj, aby się zalogować.</a>.
</p>
