
@{
    ViewData["Title"] = "Bestsellers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ProjektSklep.Models.ViewModels.HomeViewModel;
}

<h1>Bestsellery</h1>
<h5>(10 najlepiej sprzedających się produktów)</h5>

<div class="list-group">
    @foreach (Product p in Model.Products)
    {
        @await Html.PartialAsync("_PartialProduct", p)
    }
</div>

@section Categories {
    <div class="card border-primary mb-3">
        <div class="card-header">Kategorie</div>
        <div class="card-body">
            <div class="list-group">
                @foreach (Category c in Model.Categories)
                {
                    if (c.Visibility == true)
                    {
                        <a class="list-group-item list-group-item-action" asp-action="Index" asp-route-CategoryId="@c.CategoryID">@c.Name</a>
                    }
                }
            </div>
        </div>
    </div>
}

@section Menu {
    <div class="card border-primary mb-3">
        <div class="card-header">Menu</div>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Promotion">Promocje</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="NewProducts">Nowe produkty</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Bestsellers">Bestsellery</a>
            </div>
        </div>
    </div>
}