@{
    ViewData["Title"] = "Strona główna";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ProjektSklep.Models.ViewModels.HomeViewModel;
    //@model PaginatedList<ProjektSklep.Models.ViewModels.HomeViewModel>;
}

<div class="list-group">
    @foreach (Product p in Model.Products)
    {
        @await Html.PartialAsync("_PartialProduct", p)
    }
</div>

<div class="d-flex justify-content-center" style="margin-top:5px">
    <button type="button" class="btn btn-primary" style="margin-right:5px">Poprzednia</button>
    <button type="button" class="btn btn-primary" style="margin-left:5px">Następna</button>
</div>


@section Categories {
    <div class="sidebar-header hidden-sm-down">
        <h2>Kategorie</h2>
        <hr />
    </div>
    <div class="sidebar-content hidden-sm-down">
        <ul>
            @foreach (Category c in Model.Categories)
            {
                if (c.Visibility == true)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-route-CategoryId="@c.CategoryID">@c.Name</a>
                    </li>
                }
            }
        </ul>
    </div>
}

@section Menu {
    <div class="sidebar-header hidden-sm-down">
        <h2>Menu</h2>
        <hr />
    </div>
    <div class="sidebar-content hidden-sm-down">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Promotion">Promocje</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NewProducts">Nowe produkty</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Bestsellers">Bestsellery</a>
    </div>
}

