@{
    ViewData["Title"] = "Strona admina";
}
@{
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h1>Witamy w panelu admina</h1>

<h3>
    Wyślij newsletter:

    <a href='@Url.Action("SendNewsletters", "AdminPanel")' class="btn btn-info">
        Wyślij
    </a>
</h3>