
@{
    @model ProjektSklep.Models.ViewModels.ConfigurationViewModel
    ViewData["Title"] = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ClientPanel {
    <div class="sidebar-header hidden-sm-down">
        <h2>Panel Klienta</h2>
        <hr />
    </div>
    <div class="sidebar-content hidden-sm-down">
        <a class="nav-link text-dark" asp-area="" asp-controller="ClientPanel" asp-action="Index">Historia zamówień</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="ClientPanel" asp-action="Configuration">Konfiguracja</a>
    </div>
}

<div>
    <div>
        <form asp-action="Configuration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="SendingNewsletter" class="control-label"></label>
                <input asp-for="SendingNewsletter" class="form-check-input" />
                <span asp-validation-for="SendingNewsletter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductsPerPage" class="control-label"></label>
                <input type="number" asp-for="ProductsPerPage" class="form-text" value="@Model.ProductsPerPage"/>
                <span asp-validation-for="ProductsPerPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-outline-primary mt-4" />
            </div>
        </form>
    </div>
</div>